
@{
    ViewData["Title"] = "ProfileEntering";
}

<h1>Войти в профиль</h1>

<h4>Введите ваш Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile" method="get">
            <div class="form-group">
                <input type="text" name="email" />
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

